/* We utilize safe English fonts to save page loading time. */
/* Fonts for titles. */
$serif: "Times New Roman", Times, serif;
/* Fonts for everywhere except titles and code. */
$sans-serif: Arial, Helvetica, sans-serif;
/* Fonts for code. */
$monospace: Consolas, "Lucida Console", Monaco, monospace;

$large-screen-width: 1000pt;
$phone-max-width: 550pt;

html {
    height: 100%;
}

.container {
    width: 100%;
    max-width: 1440px;
}

body {
    height: 100%;
    margin: 0px;

    background-color: #F7F7F5;

    > .container {
        min-height: 100%;
        padding-top: 10pt;
        padding-bottom: 10pt;

        background-color:  white;

        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

        @media screen and (max-width: 768px) {
            width: 100%;
        }
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $serif;
}

h2 {
    padding-left: 5pt;
    padding-bottom: 2pt;
    border-bottom: 2px solid lightslategray;

    /* Disable icons before subtitles. */
    /*
    &:before {
        content: url(/img/c-36x36.png);
        padding-right: 3pt;
    }
    */

    &:after {
        margin: 0 0 0 20px;
    }
}

p,
div {
    font-size: 17pt;
    font-family: $sans-serif;
}

@media screen and (max-width: $phone-max-width) {
    p,
    div {
        font-size: 16pt;
    }
}

@media screen and (min-width: $large-screen-width) {
    p {
        padding-left: 5%;
        padding-right: 9%;
    }
}

pre,
code {
    font-family: $monospace;
}

@media screen and (min-width: $large-screen-width) {
    pre,
    table {
        margin-left: 6%;
        margin-right: 6%;
    }
}

.navbar {
    /* Remove the styles set by Bootstrap 5. */
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

@media screen and (min-width: $large-screen-width) {
    #main-content {
        padding-left: 8%;
        padding-right: 6%;
    }
}

#side-info, #table-of-contents {
    width: 220pt;

    padding: 1em;

    margin-top: 5pt;

    background-color: #F0F5F5; /* Zircon series color. */

    ul {
        list-style-type: none;
        padding-left: 3pt;
        padding-right: 3pt;
    }
}

@media screen and (max-width: $phone-max-width) {
    #side-info, #table-of-contents {
        display: none;
    }
}
