/* We utilize safe English fonts to save page loading time. */
/* Fonts for titles. */
$head-font: "DS Gabriele";
$title-font: "Playfair Display";
$serif: "Times New Roman", Times, serif;
/* Fonts for everywhere except titles and code. */
$sans-serif: Roboto, Arial, Helvetica, sans-serif;
/* Fonts for code. */
$monospace: Consolas, "Lucida Console", Monaco, monospace;

$large-screen-width: 1000pt;
$phone-width: 550pt;

$navbar-color: #578583;
$jumbotron-color: #B9AF7E;
$sidebar-color: #F1EFE3;
$background-color: #FFFAFA;

$text-font-color: #363639;

@font-face {
    font-family: $head-font;
    src: url("/font/dsgabriele.woff") format("woff");
}

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

html {
    height: 100%;
}

.container {
    width: 100%;
    max-width: 1440px;
}

body {
    height: 100%;
    margin: 0px;

    background-color: #F7F7F5;

    > .container {
        min-height: 100%;
        padding-top: 10pt;
        padding-bottom: 10pt;

        background-color:  white;

        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

        @media screen and (max-width: 768px) {
            width: 100%;
        }
    }
}

h1 {
    color: $text-font-color;
    font-family: $head-font, $title-font, $serif;
}

h2,
h3,
h4,
h5,
h6 {
    color: $text-font-color;
    font-family: $title-font, $serif;
}

h2 {
    padding-left: 5pt;
    padding-bottom: 2pt;
    border-bottom: 2px solid lightslategray;

    /* Disable icons before subtitles. */
    /*
    &:before {
        content: url(/img/c-36x36.png);
        padding-right: 3pt;
    }
    */

    &:after {
        margin: 0 0 0 20px;
    }
}

p,
div {
    color: $text-font-color;

    font-size: 17pt;
    font-family: $sans-serif;
}

@media screen and (max-width: $phone-width) {
    p,
    div {
        font-size: 16pt;
    }
}

@media screen and (min-width: $large-screen-width) {
    p {
        padding-left: 5%;
        padding-right: 9%;
    }
}

a {
    color: blue;

    &.image-link {
        text-decoration: none;
        border: 0 none;
        padding-right: 0.01em;
    }
}

pre,
code {
    font-family: $monospace;
}

@media screen and (min-width: $large-screen-width) {
    pre,
    table {
        margin-left: 6%;
        margin-right: 6%;
    }
}

.navbar {
    background-color: $navbar-color;

    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;

    .container {
        background-color: $navbar-color;
        color: $background-color;
    }
}

.navbar-nav .nav-item.dropdown a {
    color: $background-color;
}
  
.navbar-nav .nav-item.dropdown.show a {
    color: $background-color;
}

.navbar-nav .dropdown-menu.show li .dropdown-item {
    color: $navbar-color;
}

.jumbotron {
    background-color: $jumbotron-color;

    padding-top: 48px;
    padding-bottom: 48px;
    margin-bottom: 0;

    .container {
        width: 80%;
        max-width: 1400px;
        background-color: $jumbotron-color;

        h1 {
            color: $background-color;
            font-family: $head-font, $title-font, $serif;
        }

        .breadcrumb {
            background-color: $jumbotron-color;

            .breadcrumb-item {
                color: $background-color;

                a {
                    color: $background-color;

                    text-decoration: none;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: $large-screen-width) {
    #main-content {
        padding-left: 8%;
        padding-right: 6%;
    }
}

.img-link {
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
}

.info-title {
    color: $text-font-color;
    font-family: $title-font, $sans-serif;
    font-size: 14pt;
    font-weight: 500;
    padding-left: 3pt;
}

#side-info, #table-of-contents {
    width: 220pt;

    padding: 1em;

    margin-top: 5pt;

    border-radius: 16px;

    background-color: #F6EEE3;

    ul {
        list-style-type: none;
        padding-left: 3pt;
        padding-right: 3pt;
    }
}

.toc-item {
    text-decoration: none;
    font-size: 0.9em;

    &:hover {
        text-decoration: none;
    }
}

.toc-link {
    text-decoration: none;
    font-size: 0.75em;

    &:hover {
        text-decoration: none;
    }
}

@media screen and (max-width: $phone-width) {
    #side-info, #table-of-contents {
        display: none;
    }
}
